body {
  background-color: #EAEAEA;
  font-family: 'Open Sans', sans serif;
  color: #7d7d7d;
  font-size: 15px;
  line-height: 1.6em;
}

h1, h3 {
  font-family: 'Montserrat', sans serif;
  color: #dd5555;
  font-family: 10px;
  line-height: : 1.6em;
}

h2 {
  font-family: 'Montserrat', sans serif;
  color: #544343;
  font-family: 10px;
  line-height: : 1.6em;
}

p {
  font-family: 'Open Sans', sans serif;
  color: #7d7d7d;
  font-size: 15px;
  line-height: 1.6em;
  text-align: justify;
}

a {
  color: #6414e5;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

.container {
  text-align: center;
  padding: 25px;
  margin: 30px auto;
  background-color: white;
  width: 700px;
  box-shadow: 5px 5px 15px #968a8a;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.data-position > tr > td {
  padding: 25px;
}

.picture-format {
  border-radius: 150px;
  box-shadow: 0px 0px 10px #968a8a;
}

.text-format-condensed {
  padding: 10px 80px;
  text-align: center;
}

.hyperlink {
  font-family: 'Montserrat', sans serif;
  color: #544343;
  font-family: 10px;
  line-height: : 1.6em
  border-bottom: 3px solid #6ad86a99;
  box-shadow: inset 0 -5px 0 rgba(106,216,106,0.38);
}
